<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znczLfylJhb.dao.CheLiangMapper">
	<insert id="add" parameterType="com.znczLfylJhb.entity.CheLiang">
		insert into che_liang
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="cph!=null">
				cph,
			</if>
			<if test="lx!=null">
				lx,
			</if>
				wcddcs,
			<if test="yssId!=null">
				yssId,
			</if>
			<if test="fhdwId!=null">
				fhdwId,
			</if>
			<if test="shbmId!=null">
				shbmId,
			</if>
			<if test="wzlxId!=null">
				wzlxId,
			</if>
			<if test="wzId!=null">
				wzId,
			</if>
				cjsj
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="cph!=null">
				#{cph},
			</if>
			<if test="lx!=null">
				#{lx},
			</if>
				0,
			<if test="yssId!=null">
				#{yssId},
			</if>
			<if test="fhdwId!=null">
				#{fhdwId},
			</if>
			<if test="shbmId!=null">
				#{shbmId},
			</if>
			<if test="wzlxId!=null">
				#{wzlxId},
			</if>
			<if test="wzId!=null">
				#{wzId},
			</if>
				now()
		</trim>
	</insert>
	<update id="edit" parameterType="com.znczLfylJhb.entity.CheLiang">
		update che_liang set 
		<trim suffixOverrides=",">
			<if test="cph!=null">
				cph=#{cph},
			</if>
			<if test="lx!=null">
				lx=#{lx},
			</if>
			<if test="yssId!=null">
				yssId=#{yssId},
			</if>
			<if test="fhdwId!=null">
				fhdwId=#{fhdwId},
			</if>
			<if test="shbmId!=0">
				shbmId=#{shbmId},
			</if>
			<if test="wzlxId!=0">
				wzlxId=#{wzlxId},
			</if>
			<if test="wzId!=null">
				wzId=#{wzId},
			</if>
		</trim>
		where id=#{id}
	</update>
	<select id="queryForInt" resultType="java.lang.Integer">
		select count(*) from che_liang cl left join yun_shu_shang yss on cl.yssId=yss.id
		 left join fa_huo_dan_wei fhdw on cl.fhdwId=fhdw.id left join shou_huo_bu_men shbm on cl.shbmId=shbm.id
		 left join wu_zi_lei_xing wzlx on cl.wzlxId=wzlx.id left join wu_zi wz on cl.wzId=wz.id where 1=1
		<if test="cph!=''&amp;cph!=null">
			and cl.cph like CONCAT('%',#{cph},'%')
		</if> 
		<if test="lx!=''&amp;lx!=null">
			and cl.lx=#{lx}
		</if> 
	</select>
	<select id="queryList" resultType="com.znczLfylJhb.entity.CheLiang">
		select cl.*,wzlx.mc wzlxMc,wz.mc wzMc,yss.mc yssMc,fhdw.mc fhdwMc,shbm.mc shbmMc from che_liang cl left join yun_shu_shang yss on cl.yssId=yss.id
		 left join fa_huo_dan_wei fhdw on cl.fhdwId=fhdw.id left join shou_huo_bu_men shbm on cl.shbmId=shbm.id
		 left join wu_zi_lei_xing wzlx on cl.wzlxId=wzlx.id left join wu_zi wz on cl.wzId=wz.id where 1=1
		<if test="cph!=''&amp;cph!=null">
			and cl.cph like CONCAT('%',#{cph},'%')
		</if> 
		<if test="lx!=''&amp;lx!=null">
			and cl.lx=#{lx}
		</if> 
		limit #{rowNum},#{rows}
	</select>
	<update id="updateWcddcsByCph">
		update che_liang set wcddcs=wcddcs+1 where cph=#{cph}
	</update>
	<select id="getWcddcsByCphLx" resultType="java.lang.Integer">
		select wcddcs from che_liang where cph=#{cph} and lx=${@com.znczLfylJhb.entity.CheLiang@MO_SHENG_CHE_LIANG}
	</select>
	<update id="updateLxByCph">
		update che_liang set lx=#{lx} where cph=#{cph}
	</update>
	<select id="getCountByCph" resultType="java.lang.Integer">
		select count(*) from che_liang where cph=#{cph}
	</select>
	<select id="getIdByCph" resultType="java.lang.Integer">
		select id from che_liang where cph=#{cph}
	</select>
	<select id="selectById" resultType="com.znczLfylJhb.entity.CheLiang">
		select cl.*,wzlx.mc wzlxMc,wz.mc wzMc,yss.mc yssMc,fhdw.mc fhdwMc,shbm.mc shbmMc from che_liang cl left join wu_zi_lei_xing wzlx on cl.wzlxId=wzlx.id left join wu_zi wz on cl.wzId=wz.id
		 left join yun_shu_shang yss on cl.yssId=yss.id left join fa_huo_dan_wei fhdw on cl.fhdwId=fhdw.id
		 left join shou_huo_bu_men shbm on cl.shbmId=shbm.id where cl.id=#{id}
	</select>
</mapper>