<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znczLfylJhb.dao.GuoBangJiLuMapper">
	<insert id="add" parameterType="com.znczLfylJhb.entity.GuoBangJiLu">
		insert into guo_bang_ji_lu
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="gbzl!=null">
				gbzl,
			</if>
			<if test="gbzt!=null">
				gbzt,
			</if>
				gbsj,
			<if test="gblx!=null">
				gblx,
			</if>
			<if test="ddId!=null">
				ddId,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="gbzl!=null">
				#{gbzl},
			</if>
			<if test="gbzt!=null">
				#{gbzt},
			</if>
				now(),
			<if test="gblx!=null">
				#{gblx},
			</if>
			<if test="ddId!=null">
				#{ddId},
			</if>
		</trim>
	</insert>
	<update id="edit" parameterType="com.znczLfylJhb.entity.GuoBangJiLu">
		update guo_bang_ji_lu set 
		<trim suffixOverrides=",">
			<if test="gbzl!=null">
				gbzl=#{gbzl},
			</if>
			<if test="gbzt!=null">
				gbzt=#{gbzt},
			</if>
			<if test="gblx!=null">
				gblx=#{gblx},
			</if>
		</trim>
		where id=#{id}
	</update>
	<select id="queryForInt" resultType="java.lang.Integer">
		select count(*) from guo_bang_ji_lu gbjl,ding_dan dd,che_liang cl where gbjl.ddId=dd.id and dd.clId=cl.id
		<if test="ddh!=''&amp;ddh!=null">
			and dd.ddh like CONCAT('%',#{ddh},'%')
		</if>
		<if test="cph!=''&amp;cph!=null">
			and cl.cph like CONCAT('%',#{cph},'%')
		</if>
		<if test="gbsjks!=''&amp;gbsjks!=null&amp;gbsjjs!=''&amp;gbsjjs!=null">
			and gbjl.gbsj between #{gbsjks} and #{gbsjjs}
		</if>
	</select>
	<select id="queryList" resultType="com.znczLfylJhb.entity.GuoBangJiLu">
		select gbjl.*,dd.ddh,cl.cph from guo_bang_ji_lu gbjl,ding_dan dd,che_liang cl where gbjl.ddId=dd.id and dd.clId=cl.id
		<if test="ddh!=''&amp;ddh!=null">
			and dd.ddh like CONCAT('%',#{ddh},'%')
		</if>
		<if test="cph!=''&amp;cph!=null">
			and cl.cph like CONCAT('%',#{cph},'%')
		</if>
		<if test="gbsjks!=''&amp;gbsjks!=null&amp;gbsjjs!=''&amp;gbsjjs!=null">
			and gbjl.gbsj between #{gbsjks} and #{gbsjjs}
		</if>
		order by gbjl.gbsj desc
		limit #{rowNum},#{rows}
	</select>
	<select id="selectById" resultType="com.znczLfylJhb.entity.GuoBangJiLu">
		select gbjl.*,dd.ddh from guo_bang_ji_lu gbjl,ding_dan dd where gbjl.ddId=dd.id and gbjl.id=#{id}
	</select>
	<select id="selectPrintInfo" resultType="com.znczLfylJhb.entity.GuoBangJiLu">
		select gbjl.*,dd.ddh,cl.cph,dd.sjxm,dd.sjsfzh from guo_bang_ji_lu gbjl,ding_dan dd where gbjl.ddId=dd.id and gbjl.gblx=#{gblx} and dd.id=#{ddId}
	</select>
	<delete id="deleteByDdId">
		delete from guo_bang_ji_lu where gblx=#{gblx} and ddId=#{ddId}
	</delete>
	<select id="getCountByDdId" resultType="java.lang.Integer">
		select count(*) from guo_bang_ji_lu where gblx=#{gblx} and ddId=#{ddId}
	</select>
	<select id="getLastByCph" resultType="com.znczLfylJhb.entity.GuoBangJiLu">
		select gbjl.gbsj,TIMESTAMPDIFF(MINUTE,gbsj,now()) sjc from ding_dan dd,che_liang cl,guo_bang_ji_lu gbjl where dd.clId=cl.id and gbjl.ddId=dd.id and cl.cph=#{cph} order by gbjl.gbsj desc limit 0,1
	</select>
</mapper>